.contact{
    
    margin: 5% auto;
    width: 70%; 
}

.sidebar-contact{
    margin-left: -1em;
    margin-right: 3em;
    width: 100%;
}

.contact{
    

    .contact-socials .contact-socials-title,
    .contact-info .contact-info-title{

        margin-bottom: 2em;

        h3{
            font-size: 1.5em;
            color:#19ce67;
            margin: 0;
        }
    }

    .contact-socials .socials-icons{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 2em;
    }

    .contact-info .contact-info-element{
        display: flex;
        margin-bottom: 2em;

        .contact-info-text{
            margin: auto 0;
            margin-left: 1em;
            text-align: left;
        }
    }

    .contact-socials .socials-icons .social-icon,
    .contact-info .contact-info-element .contact-info-icon{

        background-color: #80d4a4;
        border-radius: 50%;
        display: flex;
        align-items: center;
        height: 3em;
        width: 3em;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); 

        &:hover{

            cursor: pointer;
            background-color:  #18cc66;
            
            path {
                fill:  hsl(0, 0%, 0%);
            }
        }
        svg{
            display: block;
            margin: 0 auto;
            width: 70%;

            path{
                fill: white;
            }
        }

    }

}

.contact .contact-map{

    margin: 0.5em 0;

    .contact-map-title{

        h3{
            font-size: 1.5em;
            color:#19ce67;
        }
    }

    .contact-map-text{

        margin: 0.5em 0;

        p{
            margin: 0.5em 0;
            text-align: justify;
        }
    }

    .contact-map-ubication{
        height: 50vh;
        margin: 2em 0;
    }

}
