.faqs{
    
    margin: 0 auto;
    width: 80%;

    @include respond-to('lg'){
        margin: 2% auto;
        width: 50%;
    }

    .faq{

        width: 100%;

        .faq-title-container{
            background-color:#80d4a4 ;
            border-bottom: 0.2em solid $white;
            display: flex;
            height: 10vh;
            width: 100%;

            @include respond-to('lg') {
                height: 6vh;
            }

            .faq-title{
                margin: 0 1em;
                width: 90%;
            }

            .faq-title h3{
                color: $white;
                
            }

            .faq-plus-button {
                cursor: pointer;
                margin: 1em;
                @include plusMinus(1.5em, 0.2em, $white);
            }
        }

        .faq-title-container:hover{
            background-color:#00d35b;
        }

        .faq-description{

            background-color:#00642b00 ;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s;
            width: 100%;
            margin-left: 2em;
            

            p{
                color: $black;
                font-weight: 900;
                margin: 1em;
                font-family: Lato;
                text-align: justify;
            }
        }
    }

    .faq.active{
        
        .faq-title-container{
            background-color: #80d4a4;
        }

        .faq-description{
            max-height: 70vh;
        }
    }
    
}

.faqs-title h3{
    text-align: center;
    font-family: Poppins;

}


.faq-group{
    width: 62%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.faq-description-image{
    margin: 0 auto;
}