.menu-inline{
	
	position: relative;
    width: max-content;
	z-index: 1001;

	li{

		margin: 0.5em; 

		.menu-item.selected{

			h4,
			a h4{
				color: #00a7b0;
			}
		}

		cursor: pointer;
		display: inline-flex;

		span h4,
		a h4{
			color: #253786;
			font-size: 1em;
		}

		&:hover a h4,
		&:hover span h4{
			color: #00a7b0;
		}

		@include respond-to('lg'){

			span h4,
			a h4{
				font-size: 1.6em;
			}
		}

		@include respond-to('wsga'){	
			
			span h4,
			a h4{
				font-size: 1em;
			}
		}
	}

	&:hover .menu{
		opacity: 1;
		top: 5vh;
		transition: all 0.7s;
	}
}

.menu-vertical{

	li{
		margin: 0.5em 0;
	}
}

.menu{

	display: flex;
	opacity: 0;
	position: absolute;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	transition: all 0.7s;
	top: 0;

	li{
		margin: 1em 0.5em;

	}
}

.menu-inline li:hover {
	background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
	-webkit-animation: line 1s;
			animation: line 1s;

	
  }
