.form{
    width: 100%;
    height: 90vh;
    margin-top: 2.1em;
    margin-left: 1em;
    
}

.form-title{
    width: 100%;
    text-align:center;
}

.form-title h1{
    color:#80d4a4;
    font-family: Poppins;
    font-size: 1.2em;
    margin-right: 2em;
}

.form-container{
    
    width: 90%;
    text-align: center;
}

.form-clients{
    width: 100%;
    
}

.form-group {
    width: 100%;
    margin: 0 auto;
}

.form-label, .form-input{
    width: 100%;
}

.form-label{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.form-label label{
    font-family: Poppins;
    font-size: 20px;
}

.category-table{
    margin-top: 6em;
}

#category-select{
    width: 100%;
    padding: 5px 5px 5px 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); 
    border: 2px solid transparent;
    font-size: 18px;
    
}

#category-select:focus{
    border: 2px solid #80d4a4;
    box-shadow: none;
    outline: 0 none;
}

.form-input input{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); 
    font-family: Lato;
    font-size: 1.2em;
    font-size: 18px;
    padding: 5px 5px 5px 5px;
    width: 94%;
    border: 2px solid transparent;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
}

textarea{
    margin-left:1em ;
    
}

#sitemap{
    width: 90%;
    margin:0;
}

.form-input .input{
    margin: 0 auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); 
    font-family: Lato;
    font-size: 1.2em;
    padding: 0.5em;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 90%;
    border: 2px solid transparent;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
}

.form-input .input:focus{
    border: 2px solid #80d4a4;
    box-shadow: none;
    outline: 0 none;

}

.form-input input:focus{
    border: 2px solid #80d4a4;
    box-shadow: none;
    outline: 0 none;
}

.country-select{
    margin-left:1em;
    
}

.form-select { 
    font-family: Lato;
    width: 240px; 
    height: 34px; 
    overflow: hidden; 
    border: 1px solid #80d4a4; 
}

.category_id{
    font-weight: bold;
    text-transform: uppercase;  
}

.category-submit{
    margin-top: 2em;
    width: 20%;
    margin: 0 auto;
}

.input-name-category{
    margin-bottom: 1em;
}

.form-submit input{
    border: solid;
    border: none;
    background-color: black;
    margin-right: 1em;
    width: 100%;
    font-family: Poppins;
    font-weight: bold;
    font-size: 16px;
    display: block;
    color:white;
    text-decoration: none;
    height: 4vh;
    cursor: pointer;
}

.form-submit input:hover{
    color:black;
    background-color:#80d4a4 ;
}



#clear-button{
    cursor: pointer;
}

#clear-button:hover{
    background-color:#00d35b ;
}

#send-button:hover {
    cursor: pointer;
    background-color:#00d35b ;
}

.import-label{
    cursor: pointer;
}

.import-label:hover{
    cursor: pointer;
    color:#00d35b ;
}


.import-button{
    border: solid;
    border: none;
    background-color: black;
    margin-right: 1em;
    width: 100%;
    font-family: Poppins;
    font-weight: bold;
    font-size: 16px;
    display: block;
    color:white;
    text-decoration: none;
    height: 4vh;
    cursor: pointer;
}

#import-button:hover {
    cursor: pointer;
    background-color:#00d35b ;
}

.second-menu-form{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: auto;
    border: 2px solid #80d4a4;
}


.second-menu-nav a { 
    width: 100%;
    font-family:Poppins;
    font-weight:bold;
    color:black; 
    display: block; 
    padding: 0.5em 1em; 
    text-decoration: none;
    height: 3vh; 
    cursor: pointer;
}

.second-menu-nav a:hover { 
    color: #ffffff; 
    background-color: black;
}

.second-menu-nav ul,.second-menu-nav ul .sub-menu-parent { 
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}


.second-menu-nav > ul { 
    background:#80d4a4; 
    text-align: center; 
}
.second-menu-nav > ul > .sub-menu-parent { 
    display: inline-block;
    margin-right: 6%;
}


.switch-button {
    width: 80px;
    height: 26px;
    background: #333;
    margin: 20px auto;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  }
  .switch-button:after {
    content: 'OFF';
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
  }
  .switch-button:before {
    content: 'ON';
    color: #27ae60;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
  }
  .switch-button label {
    display: block;
    width: 34px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  }
  .switch-button input[type=checkbox] {
    visibility: hidden;
  }
  .switch-button input[type=checkbox]:checked + label {
    left: 43px;
  }

  