.form{
    width: 45%;
    height: 90vh;
}

.form-title{
    width: 100%;
    text-align:center;
}

.form-title h1{
    color:#80d4a4;
    font-family: Poppins;
    font-size: 1.2em;
}

.form-container form{
    width: 100%;
}

.form-clients{
    width: 90%;
}

.form-group {
    margin-bottom: 1em;
    width: 100%;
}

.form-label, .form-input{
    width: 100%;
}

.form-label{
    margin-bottom: 0.5em;
}

.form-label label{
    font-family: Poppins;
    font-size: 20px;
}

.form-input input{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); 
    font-family: Lato;
    font-size: 1.2em;
    padding: 0.5em;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 10%;
    border: 2px solid transparent;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
}

.form-input .input{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); 
    font-family: Lato;
    font-size: 1.2em;
    padding: 0.5em;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 90%;
    border: 2px solid transparent;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
}

.form-input .input:focus{
    border: 2px solid #80d4a4;
    box-shadow: none;
    outline: 0 none;
    width: 96%;
}

.form-input input:focus{
    border: 2px solid #80d4a4;
    box-shadow: none;
    outline: 0 none;
    width: 90%;
}

.form-select { 
    font-family: Lato;
    width: 240px; 
    height: 34px; 
    overflow: hidden; 
    border: 1px solid #80d4a4; 
}

.category_id{
    font-weight: bold;
    text-transform: uppercase;  
}

.form-submit input{
    font-family: Lato;
    font-size: 1.2em;
    border: solid;
    border: none;
    height: 40px;
    color: white;
    background-color: #80d4a4;  
}
  
#send-button:hover {
    cursor: pointer;
    background-color:#00d35b ;
}