.table{
    border-collapse: collapse;
    width: 90%;
    margin-right: 1em;
}


@media screen and (max-width: 700px) {

    .table{
        display:block;    
    }

}

.table-title{
    width: 100%;
    text-align:center;
}

.table-titles{
    background-color: #80d4a4;
    font-family: Poppins;
}

.table-title h1{
    color: #80d4a4;
    font-family: Poppins;
    font-size: 1.2em;
    margin-left: 11em;
}

.table-container{
    width: 100%;
}

.table-container table{
    width: 100%;
}

th{
    padding: 20px 15px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    text-align:center;
    width: 100%;
}

td {
    width: 100%;
    background-color: #ffffff;
    border-radius: 3px 3px 0 0;
    border-collapse: collapse;
    display: center;
    text-align:center;
    font-family: Lato;
    font-size: 16px;
    margin: 0 auto;
    padding: 0.5em;  
    border-collapse: collapse;
    margin: 1em 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-edit svg{
    width:24px;
    height:24px;
    cursor: pointer;
}

.table-delete svg{
    width:24px;
    height:24px;
    cursor: pointer;
}

.table-edit:hover {
	color: #226fbe;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.table-delete:hover {
    color: #cf0000;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}



.table-row {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid hsl(0, 0%, 73%);
    border-top: 1px solid hsl(0, 0%, 73%);
    display: flex;
    justify-content: space-between;
    padding: 1em;
    width: 100%;
    //enseñar otra tabla
    // visibility: hidden;
    // display: none;
}

.table-field-container{
    width: 100%;
}

.table-field{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
     

    p{
        margin: 0;
        font-family: Lato;
        

        span{
            color:#80d4a4;
            font-weight: 600;
            font-family: Poppins;
        }
    }
}


.table-icons-container{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.table-icons{ 

    &:hover{

        cursor: pointer;
    
        path {
            fill:  hsl(0, 100%, 50%);
        }
    }

    svg {

        width: 100%;
    
        path{
            fill: hsl(0, 0%, 50%);
        }
    }    
}

#buscar {
    width: 90%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }