.form{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 9em;
}

.form-title{
    width: 100%;
    text-align: center;
}

.form-title h1{
    color:#80d4a4;
    font-family: Poppins;
    font-size: 16px;
}

.form-container{
    width: 100%;
}

.form-container form{
    width: 100%;
}

.form-group {
    margin-bottom: 1em;
    width: 70%;
    margin: 0 auto;
}

.form-label, .form-input{
    width: 100%;
}

.form-label{
    margin-bottom: 0.2em;
    padding-top: 0.2em;
}

.form-label label{
    font-family: Poppins;
    font-size: 15px;
    
}

.form-input input{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); 
    font-family: Lato;
    font-size: 1.2em;
    padding: 0.5em;
    font-size: 15px;
    display: block;
    width: 70%;
    margin: 0 auto;
    border: 2px solid transparent;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;  
}

.form-input input:focus{
    border: 2px solid #80d4a4;
    box-shadow: none;
    outline: 0 none;
    width: 90%;
    
}

.form-submit input{
    border: solid;
    border: none;
    background-color: black;
    margin-right: 1em;
    width: 100%;
    font-family: Poppins;
    font-weight: bold;
    color:white;
    display: block;
    text-decoration: none;
    height: auto;
    cursor: pointer;
}

.form-submit input:hover{
    color:black;
    background-color:#80d4a4 ;
}
  
#send-button:hover {
    cursor: pointer;
}


.second-menu-form{
    width: 100%;
    background-color:#e3faed;
    height: auto;
    border-bottom: 8px solid #80d4a4;
}

.second-menu-nav a { 
    
    margin-right:1em ;
    width: 100%;
    font-family:Poppins;
    font-weight:bold;
    color:black; 
    display: block; 
    text-decoration: none;
    height: auto; 
    cursor: pointer;
}

.second-menu-nav a:hover { 
    color: #ffffff; 
    background-color: black;
}

.second-menu-nav ul,.second-menu-nav ul .sub-menu-parent { 
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.second-menu-nav > ul { 
    background:#80d4a4; 
    text-align: center; 
}
.second-menu-nav > ul > .sub-menu-parent { 
    display: inline-block;

}

.home{
    width: 90%;
    margin: 0 auto;
    background-color: white;
    
}