.form{
    width: 100%;
    height: auto;
  
}

.form-title{
    width: 100%;
    text-align:center;
}

.form-title h1{
    color:#80d4a4;
    font-family: Poppins;
    font-size: 2em;
}

.form-container{
    width: 100%;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 1.2em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 	1em;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #80d4a4; 
}

.panel {
  padding: 0 1.2em;
  display: none;
  background-color: white;
  overflow: hidden;
}