.main {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

body {
  width: inherit;
  min-height: inherit;
  margin: 0;
  padding: 0;
  background-color: #e3faed;
}

.master-title {
  width: 80%;
  margin: 0 auto;
}

.master-title h3 {
  text-align: center;
  font-family: Poppins;
  margin-top: -3em;
  margin-left: 0em;
}

.form {
  width: 45%;
  height: 90vh;
}

.form-title {
  width: 100%;
  text-align: center;
}

.form-title h1 {
  color: #80d4a4;
  font-family: Poppins;
  font-size: 1.2em;
}

.form-container form {
  width: 100%;
}

.form-clients {
  width: 90%;
}

.form-group {
  margin-bottom: 1em;
  width: 100%;
}

.form-label, .form-input {
  width: 100%;
}

.form-label {
  margin-bottom: 0.5em;
}

.form-label label {
  font-family: Poppins;
  font-size: 20px;
}

.form-input input {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  font-family: Lato;
  font-size: 1.2em;
  padding: 0.5em;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 10%;
  border: 2px solid transparent;
  transition: width 0.35s ease-in-out;
}

.form-input .input {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  font-family: Lato;
  font-size: 1.2em;
  padding: 0.5em;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 90%;
  border: 2px solid transparent;
  transition: width 0.35s ease-in-out;
}

.form-input .input:focus {
  border: 2px solid #80d4a4;
  box-shadow: none;
  outline: 0 none;
  width: 96%;
}

.form-input input:focus {
  border: 2px solid #80d4a4;
  box-shadow: none;
  outline: 0 none;
  width: 90%;
}

.form-select {
  font-family: Lato;
  width: 240px;
  height: 34px;
  overflow: hidden;
  border: 1px solid #80d4a4;
}

.category_id {
  font-weight: bold;
  text-transform: uppercase;
}

.form-submit input {
  font-family: Lato;
  font-size: 1.2em;
  border: solid;
  border: none;
  height: 40px;
  color: white;
  background-color: #80d4a4;
}

#send-button:hover {
  cursor: pointer;
  background-color: #00d35b;
}

.table {
  border-collapse: collapse;
  width: 70%;
}

@media screen and (max-width: 700px) {
  .table {
    display: block;
  }
}
.table-title {
  width: 100%;
  text-align: center;
}

.table-titles {
  background-color: #80d4a4;
  font-family: Poppins;
}

.table-title h1 {
  color: #80d4a4;
  font-family: Poppins;
  font-size: 1.2em;
}

.table-container {
  width: 100%;
}

.table-container table {
  width: 100%;
}

th {
  padding: 20px 15px;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

td {
  width: 100%;
  background-color: #ffffff;
  border-radius: 3px 3px 0 0;
  border-collapse: collapse;
  display: center;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  margin: 0 auto;
  padding: 15px;
  border-collapse: collapse;
  margin: 25px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-edit svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.table-delete svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.table-edit:hover {
  color: #226fbe;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.table-delete:hover {
  color: #cf0000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.sidebar {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: black;
  background-color: #105a30b6;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar-title {
  background-color: #80d4a4;
  width: 100%;
}

.sidebar-title svg:hover {
  background-color: #00d35b;
}

.sidebar-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar li {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  cursor: pointer;
  font-family: Poppins;
}

.sidebar li:hover {
  background-color: rgba(0, 0, 0, 0.815);
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #f1f1f1;
}
